<!DOCTYPE html>
<head>
    <title>H.E.L.P. Desk</title>
</head>
<body>
    <h1>Error!</h1>
    <p>If you are seeing this page, then that means the Vue front-end is not running or not routed properly.</p>
    <br>
    <h2>Create User</h2>
    <form action="/api/users" method="post">
        <label for="username">Username:</label><br>
        <input type="text" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" name="password"><br>
        <label for="email">Email:</label><br>
        <input type="email" name="email"><br>
        <input type="submit" value="Submit">
    </form>
</body>